* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #252527;
    color: white;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline;
    position: relative;
}

nav ul li a { 
    padding: 20px;   
    display: inline-block;
    color: white;
    text-decoration: none;
}

nav ul li a:hover, #entrar {
    background-color: #188be9;
}

nav ul li ul {
    position: absolute;
    left: 0;
    background-color: #188be9;
    display: none;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li a {
    width: 100px;
    border: 1px solid #2929b2;
}

.banner {
    text-align: center;
}

.banner img {
    width: 100%;
    height: 700px;
}

.main {
    margin: 50px 200px;
}

.conteudo {
    margin: 50px 50px;
    text-align: center;
}

.item-conteudo {
    display: inline-block;
    width: 250px;
    padding: 35px;
}

.item-conteudo:hover {
    background: #f3f3f3;
    border-radius: 2%;
}

.item-conteudo p,
.sobre-titulo {
    color: #188be9;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 10px;
    text-align: left;
}

.item-conteudo-texto, .sobre-conteudo-texto {
    font-size: 20px;
    color: #323232;
    text-align: justify;
    font-weight: 100;
}

.sobre-conteudo {
    margin-bottom: 50px;
}

.sobre-titulo {
    text-align: center;
}

.sobre-conteudo-valores {
    display: flex;
    flex-wrap: wrap;
}

.valores-item {
    flex: 1 1 0;
    background-color: #f3f3f3;
    border-radius: 2%;
    margin: 25px;
    padding: 20px;
}

.sobre-conteudo-imagens {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    text-align: center;
}

.sobre-conteudo-imagens img {
    border-radius: 2%;
    height: 300px;
    width: 300px
}

.sobre-conteudo-imagem {
    padding: 5px;
}

.equipe-imagem {
    position: relative;
    padding: 5px;
}

.equipe-imagem img {
    height: 200px;
    width: 300px;
    border: 1px solid #f3f3f3;
}

.equipe-imagem-texto {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
}

.equipe-name {
    position: absolute;
    left: 15px;
    bottom: 15px;
    background-color: #067bdb;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.rodape {
    text-align: center;
    background-color: #188be9;
    padding: 100px;
    font-size: 20px;
    color: #fff;
}

.equipe-imagem {
    position: relative;
    height: 200px;
    width: 300px;
}

.equipe-imagem img {
    height: 200px;
    width: 300px;
}

.equipe-texto {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
}

.quem-somos-conteudo-imagens img {
    border-radius: 2%;
}

.equipe-texto-nome {
    position: absolute;
    background-color: #188be9;
    left: 15px;
    bottom: 15px;
    padding: 10px;
    color: white;
    border-radius: 5px
}